<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LinqToExcel" version="1.10.1" targetFramework="net45" />
  <package id="log4net" version="2.0.10" targetFramework="net45" />
  <package id="VSSDK.Data" version="14.0.4-preview" targetFramework="net45" />
  <package id="VSSDK.IDE" version="7.0.4" targetFramework="net45" />
  <package id="VSSDK.IDE.14" version="14.0.4-preview" targetFramework="net45" />
  <package id="VSSDK.OLE.Interop" version="7.0.4" targetFramework="net45" />
  <package id="VSSDK.Shell.Interop" version="7.0.4" targetFramework="net45" />
  <package id="VSSDK.TextManager.Interop" version="7.0.4" targetFramework="net45" />
</packages>