/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [id_LabOrder]
      ,[id_Patient]
      ,[id_Encounter]
      ,[org_Ordering]
      ,[provider_Ordering]
      ,[provider_Realted]
      ,[date_Order]
      ,[date_OrderTime]
      ,[date_Collection]
      ,[date_CollectionTime]
      ,[attrib_Priority]
      ,[attrib_SourceSystem]
      ,[attrib_PatientResidency]
      ,[attrib_PatientAge]
      ,[measure_OrderInd]
      ,[measure_CollectionInd]
      ,[measure_AgeInDays]
      ,[sys_PartitionDate]
      ,[sys_PartQtrCollectionDate]
      ,[Bookmark]
      ,[attrib_Battery]
      ,[CollectionDateEnc]
      ,[OrderDateEnc]
      ,[LabsClaimBaseLineCodeKey]
      ,[Original_ClaimID]
      ,[Flag_Claims]
  FROM [dbmSemanticAnalytics].[Fact].[LaboratoriesOrder]