/****** Script for SelectTopNRows command from SSMS  ******/
SELECT  [id_PopulationMember]
      ,[id_Patient]
      ,[date_YearMonth]
      ,[attrib_Measure]
      ,[attrib_PatientAge]
      ,[measure_MemberInd]
      ,[sys_PartitionDate]
  FROM [dbmSemanticAnalytics].[Fact].[MeasureMembersMonthly]
  order by [id_PopulationMember]
      ,[id_Patient]
      ,[date_YearMonth]
      ,[attrib_Measure]
      ,[attrib_PatientAge]
      ,[measure_MemberInd]
      ,[sys_PartitionDate]