/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [id_MedicationOrder]
      ,[id_Patient]
      ,[id_Encounter]
      ,[org_Assigned]
      ,[org_related]
      ,[provider_Author]
      ,[provider_Related]
      ,[date_Order]
      ,[date_OrderTime]
      ,[date_RequiredStart]
      ,[date_RequiredStartTime]
      ,[date_RequiredEnd]
      ,[date_RequiredEndTime]
      ,[attrib_Status]
      ,[attrib_Medication]
      ,[measure_OrderInd]
      ,[attrib_ApproachSite]
      ,[measure_AgeInDays]
      ,[attrib_PatientAge]
      ,[sys_PartitionDate]
      ,[MedicationsActivityTimeEnc]
      ,[MedicationsStartDateEnc]
      ,[MedicationsEndDateEnc]
      ,[attrib_Duration]
      ,[measure_Duration]
      ,[attrib_DuartionUnit]
      ,[attrib_Route]
      ,[attrib_Frequency]
      ,[attrib_Dose]
      ,[measure_Dose]
      ,[attrib_DoseUnit]
      ,[attrib_DispenseQuantity]
      ,[measure_DispenseQuantity]
      ,[attrib_DispenseQuantityUnit]
  FROM [dbmSemanticAnalytics_DB2].[Fact].[MedicationOrders]