/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [id_MedicationSupply]
      ,[id_Patient]
      ,[id_Encounter]
      ,[id_Order]
      ,[org_Assigned]
      ,[provider_Supplying]
      ,[provider_Related]
      ,[date_RequiredStart]
      ,[date_RequiredStartTime]
      ,[date_RequiredEnd]
      ,[date_RequiredEndTime]
      ,[date_Supply]
      ,[date_SupplyTime]
      ,[date_Order]
      ,[date_OrderTime]
      ,[attrib_Status]
      ,[attrib_Priority]
      ,[attrib_AdministrationType]
      ,[attrib_Medication]
      ,[attrib_DoseTxt]
      ,[attrib_DoseUnit]
      ,[attrib_MedicationForm]
      ,[attrib_DurationTxt]
      ,[attrib_DuartionUnit]
      ,[attrib_Frequency]
      ,[attrib_Route]
      ,[attrib_ApproachSite]
      ,[attrib_DispenseQuantityTxt]
      ,[attrib_DispenseQuantityUnit]
      ,[attrib_SourceSystem]
      ,[attrib_PatientResidency]
      ,[attrib_PatientAge]
      ,[measure_SupplyInd]
      ,[measure_SameBrandAsPrescribed]
      ,[measure_DifferentIngredientsThanPrescribed]
      ,[measure_DoseNum]
      ,[measure_DurationNum]
      ,[measure_DispenseQuantityNum]
      ,[measure_RepeatNumber]
      ,[measure_AgeInDays]
      ,[sys_PartitionDate]
      ,[Original_ClaimID]
      ,[Flag_Claims]
      ,[ID_Claims]
      ,[EndDate_SupplyEnc]
      ,[Startdate_SupplyEnc]
      ,[Startdate_OrderEnc]
      ,[attrib_DispensedDosage]
      ,[measure_DispensedDaysSupply]
      ,[attrib_DispensingStatusCode]
  FROM [dbmSemanticAnalytics_DB2].[Fact].[MedicationSupplies]