/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [id_MedicationSupply]
      ,[id_Patient]
      ,[id_Order]
     -- ,[date_OrderTime]
      ,[date_Order]
	  ,[date_Supply]
      ,[attrib_Medication]
      --,[attrib_PatientAge]
      ,isnull([sys_PartitionDate],-1) sys_PartitionDate
      ,[Original_ClaimID]
      ,[Flag_Claims]
      ,[EndDate_SupplyEnc]
      ,[Startdate_SupplyEnc]
      ,[Startdate_OrderEnc]
      --,[TimeStamp]      --,[ID_Claims]      --,[measure_SupplyInd]      --,[measure_SameBrandAsPrescribed]      --,[measure_DifferentIngredientsThanPrescribed]
      --,[measure_DoseNum]      --,[measure_DurationNum]      --,[measure_DispenseQuantityNum]      --,[measure_RepeatNumber]
      --,[measure_AgeInDays]      --,[attrib_DoseTxt]      --,[attrib_DoseUnit]      --,[attrib_MedicationForm]      --,[attrib_DurationTxt]
      --,[attrib_DuartionUnit]      --,[attrib_Frequency]      --,[attrib_Route]      --,[attrib_ApproachSite]      --,[attrib_DispenseQuantityTxt]
      --,[attrib_DispenseQuantityUnit]      --,[attrib_SourceSystem]      --,[attrib_PatientResidency]      --,[attrib_Status]      --,[attrib_Priority]
      --,[attrib_AdministrationType]      --,[org_Assigned]      --,[provider_Supplying]      --,[provider_Related]      --,[date_RequiredStart]
      --,[date_RequiredStartTime]      --,[date_RequiredEnd]      --,[date_RequiredEndTime]      --,[id_Encounter]      --,[date_SupplyTime]
  FROM [dbmSemanticAnalytics].[Fact].[MedicationSupplies]
  order by 1