USE [dbmSemanticAnalyticsSTG]
GO

-- the tests fails because of extra spaces in the queries but the queries are exactly the same.

declare @MetricsSQL TABLE (
	[MetricKey] [bigint] NOT NULL,
	[DenSQLBootstrap] [nvarchar](max) NULL,
	[NumSQLBootstrap] [nvarchar](max) NULL,
	[DenSQLOnGoing] [nvarchar](max) NULL,
	[NumSQLOnGoing] [nvarchar](max) NULL
) 



select *
from @MetricsSQL
order by 1